.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
/dataset/
/raw_dataset/
/inference/
*.pth
*.pt
*.tar
*.tar.gz
*.whl
*.run
/quant_img/
*.onnx
*.trt
*.engine
/calibration_data/
*.bin
*.cache
quant_img/
/data/
*.jpg
*.png
*.jpeg
/log/
*.log
*.zip